@import '~styles/variables.scss';
$width: calc(50vw - #{2 * $site-padding});

.background {
  background-color: rgba($color-mid-blue, 0.96);
}

.container,
.background {
  $top: 10rem;
  $pad: 8rem;

  margin-top: $top;
  padding: $pad $site-padding;
  height: calc(100vh - #{$top + (2 * $pad)});
  width: $width;
  z-index: $zforeground;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  color: white;
  overflow-y: auto;
  font-family: 'PierSans';
  font-size: 1rem;
  line-height: 2em;

  &::after {
    pointer-events: none;
    content: '';
    height: 20rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    z-index: 1000;
    background-image:
      linear-gradient(
        rgba($color-mid-blue, 0),
        rgba($color-mid-blue, 0.5),
        rgba($color-mid-blue, 0.7),
        $color-mid-blue
      );
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.82em;
  line-height: 2em;
}

.content {
  font-size: 1rem;
  line-height: 2.7em;
  z-index: $zforeground * 10;
}
