@import '~styles/variables.scss';
$width: calc(45vw - #{$site-padding});

.container {
  $top: 10rem;
  $pad: 8rem;

  margin-top: $top;
  padding: $pad $site-padding;
  height: calc(100vh - #{$top + (2 * $pad)});
  width: $width;
  z-index: $zforeground;
  background-color: rgba($color-mid-blue, 0.96);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;

  &::after {
    content: '';
    height: 20rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(45vw + #{$site-padding});
    z-index: 1000;
    background-image:
      linear-gradient(
        rgba($color-mid-blue, 0),
        rgba($color-mid-blue, 0.5),
        rgba($color-mid-blue, 0.7),
        $color-mid-blue
      );
  }
}

.titles {
  text-transform: uppercase;
  letter-spacing: 0.82rem;
  line-height: 2em;
}

.content {
  font-size: 1rem;
  line-height: 2.7em;
  font-smoothing: antialiased;
}
