@import '~styles/variables.scss';

%button {
  cursor: pointer;
  user-select: none;
}

%bg-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button {
  background-color: transparent;
  border: 1px solid $color-turquoise;
  border-radius: 20px;
  padding: 0.5em 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
  z-index: 100000;
  position: relative;
  font-size: 0.9rem;

  &:focus {
    outline: 0;
  }

  color: $color-turquoise;
  text-decoration: none;
}

.slides {
  display: block;
  margin-bottom: 50rem;
}

.paragraphAfterChart {
  margin-top: 100px;
}

.radarChart {
  circle {
    stroke-dasharray: 5;

    &:last-of-type {
      display: none;
    }
  }

  text {
    fill: $color-white;

    tspan {
      font-size: 12px;
      letter-spacing: 4px;
      line-height: 2.17;
    }
  }
}

.lineChartGlobal {
  margin: 80px 0;
}

.visualisationsContainer {
  display: flex;
  justify-content: space-around;

  .svgTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 90px 0;

    img {
      width: 60px;
    }

    .percentage {
      margin: 30px 0 5px;
      font-size: 14px;
      font-weight: 500;
      color: $color-white;
    }

    .category {
      font-weight: 500;
      font-size: 14px;
      color: $color-white;
      line-height: 2.17;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}

:global .recharts-default-legend {
  top: 60px;
  position: relative;
  display: flex;
  flex-direction: row;

  .recharts-legend-item {
    display: flex !important;
    flex-direction: row;
    align-items: baseline;
    margin-right: 20px;

    .recharts-surface {
      min-width: 16px;
      min-height: 16px;
      margin-right: 10px !important;
    }

    .recharts-legend-item-text {
      max-width: 140px;
      display: block;
      text-align: left;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      letter-spacing: 0.7px;
    }
  }
}
