@import '~styles/variables.scss';

%button {
  cursor: pointer;
  user-select: none;
}

%bg-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button {
  background-color: transparent;
  border: 1px solid $color-turquoise;
  border-radius: 20px;
  padding: 0.5em 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
  z-index: $zforeground * 10000;
  position: relative;
  font-size: 0.9rem;

  &:focus {
    outline: 0;
  }

  color: $color-turquoise;
  text-decoration: none;
}

.slides {
  display: block;
  padding-bottom: 1em;
  margin-bottom: 1em;
  // margin-bottom: calc((100vh / 2) - (#{$header-height} * 2));

  &:first-of-type {
    padding-top: 5em;
  }

  &:last-of-type {
    padding-bottom: 20vh;
  }
}

.innerP {
  display: block;
  margin-bottom: 1em;
}

.innerTitle {
  font-size: 2.4rem;
  display: block;
  margin-bottom: 1em;
}

.paragraphAfterChart {
  // padding-top: 50px;
}

.chartContainer {
  margin: 3rem 0;
}

.spiderLegendContainer {
  display: flex;

  .legend {
    display: flex;
    align-items: baseline;
    position: relative;
    flex-direction: row-reverse;
    flex: 0.5;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.7px;
    color: $color-white;

    &::after {
      content: '';
      height: 16px;
      width: 16px;
      background-color: $color-white;
      margin-right: 12px;
      flex-shrink: 0;
    }

    &Blue::after {
      background-color: #0664f6;
    }

    &Purple::after {
      background-color: $color-purple;
    }
  }
}

.radarChart {
  circle {
    stroke-dasharray: 5;

    &:last-of-type {
      display: none;
    }
  }

  text {
    fill: $color-white;

    tspan {
      font-size: 8px;
      letter-spacing: 4px;
      line-height: 2.17;
    }
  }

  .radarChartTooltip {
    display: flex;
    flex-direction: column;
    background-color: $color-navy-blue;

    .radarChartTooltipContainer {
      display: flex;
      flex-direction: row-reverse;

      &:first-of-type {
        border-bottom: 1px solid #2b4d68;
      }

      &:only-of-type {
        border: 0;
      }

      .radarChartTooltipLabel {
        height: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.2px;
        text-align: left;
        color: $color-white;
        padding: 12px;
      }

      .radarChartTooltipValue {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        min-width: 50px;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 1.1px;
        color: $color-white;
        padding: 0 11px;
      }
    }
  }
}

.lineChartGlobal {
  margin: 80px 0;
}

.visualisationsContainer {
  display: flex;
  justify-content: space-around;

  .svgTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 7rem 0 5rem;

    img {
      width: 60px;
    }

    .percentage {
      margin: 30px 0 5px;
      font-size: 14px;
      font-weight: 500;
      color: $color-white;
    }

    .category {
      font-weight: 500;
      font-size: 14px;
      color: $color-white;
      line-height: 2.17;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}

:global .recharts-default-legend {
  top: 60px;
  position: relative;
  display: flex;
  flex-direction: row;

  .recharts-legend-item {
    display: flex !important;
    flex-direction: row;
    align-items: baseline;
    margin-right: 20px;

    .recharts-surface {
      min-width: 16px;
      min-height: 16px;
      margin-right: 10px !important;
    }

    .recharts-legend-item-text {
      max-width: 140px;
      display: block;
      text-align: left;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      letter-spacing: 0.7px;
    }
  }
}

.toggle,
.tag {
  @extend %button;

  border-width: 1px;
  border-style: solid;
  border-color: $color-turquoise;
  display: inline-block;
  color: $color-white;
}

.toggleActive,
.tagActive {
  background-color: $color-turquoise;
  color: $color-dark-blue;
}

