//font size
$fs-sm: 13px;
$fs-regular: 14px;
$fs-big: 22px;

//font weight
$fw-thin: 300;
$fw-bold: bold;

$zbackground: -10;
$zground: 0;
$zforeground: 10;

$site-gutter: 20px;
$site-padding: 50px;
$pad: 6rem;

$sidebar-width: 400px;
$sidebar-card-padding: 30px;

$gutter: 1rem;
$column-width: 40vw;
$header-height: 0px;/* stylelint-disable-line */
$max-width: 600px;
$min-width: 430px;
// $sidebar-header-height: 115px;
$sidebar-header-height: 65px;

$pop-up-button-top: 35px;
$pop-up-button-right: 60px;

$color-white: #fff;
$color-black: #000;
$color-light-gray: #eff3f5;
$color-group-card-dark-blue: #0a212e;
$color-dark-blue: #061420;
$color-sticky-blue: #0c263c;
$color-mid-blue: #091e31;
$color-navy-blue: #1b364c;
$color-blue: #3187da;
$color-light-blue: #79a3c6;
$color-purple: #8366e4;
$color-turquoise: #1bcec7;
$color-yellow: #e9eca6;
$color-green: #a6ecc0;
$site-gutter: 20px;
$site-padding: 50px;
$closed-container: calc(-#{$max-width - $site-padding});

@function background-gradient($c, $mult: 1) {
  @return linear-gradient(
    rgba($c, 0 * $mult),
    rgba($c, 0.5 * $mult),
    rgba($c, 0.7 * $mult),
    rgba($c, 1 * $mult)
  );
}
