$zbackground: -10;
$zground: 0;
$zforeground: 10;

$site-gutter: 20px;
$site-padding: 50px;
$pad: 6rem;

$gutter: 1rem;
$column-width: 40vw;
$header-height: 0px;/* stylelint-disable-line */
$max-width: 600px;
$min-width: 430px;
$sidebar-header-height: 115px;

$pop-up-button-top: 35px;
$pop-up-button-right: 60px;

$color-white: #fff;
$color-black: #000;
$color-dark-blue: #061420;
$color-mid-blue: #091e31;
$color-navy-blue: #1b364c;
$color-blue: #3187da;
$color-turquoise: #1bcec7;
$color-yellow: #e9eca6;
$color-green: #a6ecc0;

$site-gutter: 20px;
$site-padding: 50px;
$closed-container: calc(-#{$max-width - $site-padding});
