@import '~styles/variables.scss';

.items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item,
.radialValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  border: 1px solid;
}

.radialValue {
  position: relative;
}

.value {
  position: absolute;
  font-size: 1.2em;
}

.label {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

// Theme
.radial {
  $stroke-width: 3px;
  $radius: 54px;

  width: $radius;
  height: $radius;

  .svg {
    background-size: calc(100% - #{2 * $stroke-width});
  }

  .circle {
    stroke-width: $stroke-width;
  }

  &.mammals {
    .svg {
      background-image: url(/img/bird.png);
    }

    .circle {
      stroke: $color-green;
    }
  }

  &.birds {
    .circle {
      stroke: $color-yellow;
    }
  }
}
