@import '~styles/variables.scss';

.detailViewContainer {
  background-color: $color-light-gray;
}

.generalInfoCard {
  background-color: $color-white;
  padding-top: 40px;
  margin-bottom: 5px;
}

.header {
  padding: 0 $site-gutter;
}

.detailTitle {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: -0.8px;
  color: $color-group-card-dark-blue;
}

.detailSubTitle {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: $color-group-card-dark-blue;
}

.progressBar {
  transition: all 0.2s ease-in-out;
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $color-light-gray;
  z-index: 12;
}
