@import '~styles/variables.scss';

$height: 45px;

.container {
  position: fixed;
  top: calc(#{$header-height} + 2rem);
  right: $site-padding;
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  height: $height;
  z-index: $zforeground;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin-top: calc(#{$height / 2} - 0.2em);
  margin-right: 60px;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
}
