@import '~styles/variables.scss';

$size: 45px;

.container {
  position: fixed;
  top: calc(#{$header-height} + 2rem);
  right: $site-padding;
  z-index: $zforeground;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.earth {
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  height: $size;
  width: $size;
  margin-left: 27px;
}
