@import '~styles/variables.scss';

.modalContainer {
  overflow: auto;
}

.modal {
  height: auto;
  padding: 60px 90px;
}

.contentContainer {
  font-family: 'PierSans', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}
