@import "~styles/variables.scss";

.textContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $color-mid-blue;
  height: 100%;
  padding: 165px 165px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  height: 70px;
  width: 50px;
  flex-shrink: 0;
  background-size: cover;
}

.details {
  width: 200px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  border-top: solid 1px $color-white;
  text-align: left;
  line-height: 2.33;
  padding: 0;
  margin: 0;
  color: $color-white;
}

.description {
  color: $color-white;
  width: 554px;
  height: 100%;
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 0.9px;
  line-height: 2.33;
  font-weight: 500;
  overflow: auto;
}
