{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "always"],
    "jsx-quotes": ["error", "prefer-double"],
    "react/prop-types": [0],
    "space-before-function-paren": 0
  }
}
