{
  "extends": ["vizzuality"],
  "globals": { "fetch": true, "navigator": true },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "semi": ["error", "always"],
    "jsx-quotes": ["error", "prefer-double"],
    "react/prop-types": [0],
    "space-before-function-paren": 0,
    "import/prefer-default-export": 0,
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 1,
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0,
    "comma-dangle": 0
  }
}
