.DS*
.vscode
.env
node_modules
config/credentials.js
designs
public/data
public/**/*json
public/**/*tif
public/**/*tf
public/**/*xml
public/**/*sh
public/**/*glb
public/scripts*
public/styles*
public/index.html
