@import '~styles/variables.scss';
$backCircle: #18bab4;

.legendLayers {
  color: $color-white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  em {
    font-size: 0.8em;
    font-style: normal;
  }

  .simpleLegend {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-right: 26px;
    flex-shrink: 0;
    font-size: 1.2rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      min-width: 23px;
      height: 18px;
      display: block;
      margin-left: 10px;
    }

    &Burgundy::after {
      background-color: #740e0e;
    }

    &Brown::after {
      background-color: #f4a175;
    }

    &Purple::after {
      background-color: #291270;
    }

    &Red::after {
      background-color: #e95353;
    }

    &Violet::after {
      background-color: #662f82;
    }

    &Orange::after {
      background-color: rgba(243, 136, 40, 0.7);
    }

    &Green::after {
      background-color: rgba(56, 192, 180, 0.7);
    }

    &Yellow::after {
      background-color: rgba(243, 193, 40, 0.7);
    }

    &Pink::after {
      background-color: rgba(#972a6a, 0.7);
    }

    &Xpa::after {
      background-color: rgba(#9538ba, 0.7);
    }

    &Black::after {
      background-color: $color-black;
    }

    &Red::after {
      background-color: #e75457;
    }
  }

  .gradientLegend {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    padding-bottom: 15px;

    &:only-of-type {
      padding-bottom: 0;
    }

    &:first-of-type {
      color: $color-white;
    }

    .gradient {
      display: flex;
      text-transform: uppercase;
      color: $color-white;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 3.3px;
      text-align: right;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .boxContainer {
        display: flex;
        flex-direction: column;
      }

      .numbers {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &Boxes {
        display: flex;
        padding-top: 10px;
        margin-bottom: 10px;

        @mixin gradient($colors) {
          @for $i from 1 through length($colors) {
            &:nth-child(#{$i}) {
              background-color: nth($colors, $i);
            }
          }
        }

        span {
          min-width: 15px;
          min-height: 10px;
          max-height: 10px;
          max-width: 15px;
          position: relative;

          &:first-child {
            color: $color-white;
          }

          &:last-child {
            color: $color-mid-blue;
          }

          &:first-child,
          &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
          }
        }

        &Blue span {
          $colors: #281170, #4051d9, #4085d9, #38b3e3, #54def2, #6df1db, #3fdec3;

          @include gradient($colors);
        }

        &Purple span {
          $colors: #291270, #4121a5, #5735c1, #6d4ad7, #8564e8, #9879f7, #b59ff6;

          @include gradient($colors);
        }

        &Aqua span {

          $colors: #0f6e66, #148e84, #21aca0, #38c0b4, #4ad8cb, #7cf6eb, #befdf7;

          @include gradient($colors);
        }

        &Green span {
          $colors: #559515, #5ea11a, #72bb2a, #8ad43d, #9fe754, #bdf835, #d9f890;

          @include gradient($colors);
        }

        &Orange span {
          $colors: #d16b10, #f38828, #f3a228, #f3c128, #f3dd28, #f7f78f, #f9f99b;

          @include gradient($colors);
        }

        &Orange2 span {
          $colors: #bc3809, #c24b21, #c95f3a, #d07352, #d6876b, #dd9b84, #e4af9c;

          @include gradient($colors);
        }

        &Rainbow span {
          // $colors: #fa6262, #ef9b61, #eec86d, #aaf6a1, #39e8d2, #00b2e2, #7743e4;
          $colors: #7743e4, #00b2e2, #39e8d2, #aaf6a1, #eec86d, #ef9b61, #fa6262;

          @include gradient($colors);
        }

        &Priority span {
          $base: 0.1428571429;
          $colors:
            rgba(#350a13, $base),
            rgba(#93345d, $base * 2),
            rgba(#911c34, $base * 3),
            rgba(#c02847, $base * 4),
            rgba(#e2254c, $base * 5),
            rgba(#ff2955, $base * 6),
            rgba(#ff2955, $base * 7);
          // rgba($color-priority, $base * 7);

          @include gradient($colors);

          &:last-child {
            color: $color-white;
          }
        }

        &Black span {
          $base: 0.1428571429;
          $colors:
            rgba($color-black, $base),
            rgba($color-black, $base * 2),
            rgba($color-black, $base * 3),
            rgba($color-black, $base * 4),
            rgba($color-black, $base * 5),
            rgba($color-black, $base * 6),
            rgba($color-black, $base * 7);

          @include gradient($colors);

          &:last-child {
            color: $color-white;
          }
        }
      }
    }

    &Small {
      width: 50%;
    }
  }
}

.legendModal {
  cursor: pointer;
  position: absolute;
  text-align: right;
  margin-bottom: 10px;
  color: $color-black;
  z-index: $zforeground;
  width: 16px;
  height: 16px;
  background-color: $backCircle;
  border-radius: 16px;
  right: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  span {
    font-size: 12px;
    font-weight: 800;
  }
}

.legendPopUp {
  background-color: $color-mid-blue;
  width: 100%;
  height: 100%;
  padding: 80px 60px;
  overflow-y: scroll;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .containInfo {
    margin-bottom: 60px;
    position: relative;
    max-width: 33%;
    padding: 15px;

    &::after {
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 60%;
      background-color: rgba($color-white, 0.2);
      margin: 0 auto;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    h2 {
      letter-spacing: 1.5px;
    }

    h2,
    h3 {
      color: $color-white;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.73;
      text-shadow: 0 0 34px rgba($color-black, 0.3);
      text-transform: uppercase;
      text-align: left;
    }

    h3 {
      text-transform: none;
    }

    p {
      max-width: 955px;
      margin: 0 auto;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.9;
      letter-spacing: 0.8px;
      color: $color-white;
      text-align: left;
    }

    .source {
      margin-top: 10px;
      // line-height: 1.25;
      font-size: 10px;
      color: rgba($color-white, 0.7);
      // font-weight: 700;
    }
  }
}

.simpleLegendTopBig {
  margin-top: 30px;
}

.latexBlock {
  display: block;
  margin: 3rem;
  font-size: 2rem;
}

.labelContain {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
  text-transform: none;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.bioText {
  margin-bottom: 10px;
}
