@import '~styles/variables.scss';
$backCircle: #18bab4;

.legendLayers {
  color: $color-white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  .simpleLegend {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-right: 26px;
    flex-shrink: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      min-width: 23px;
      height: 18px;
      display: block;
      margin-left: 10px;
    }

    &Red::after {
      background-color: #e95353;
    }

    &Brown::after {
      background-color: #f4a175;
    }

    &Pink::after {
      background-color: rgba(243, 40, 116, 0.7);
    }

    &Orange::after {
      background-color: rgba(243, 136, 40, 0.7);
    }

    &Green::after {
      background-color: rgba(56, 192, 180, 0.7);
    }

    &Yellow::after {
      background-color: rgba(243, 193, 40, 0.7);
    }
  }

  .gradientLegend {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    padding-bottom: 15px;
    color: transparent;

    &:only-of-type {
      padding-bottom: 0;
    }

    &:first-of-type {
      color: $color-white;
    }

    .gradient {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      color: $color-white;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 3.3px;
      text-align: right;

      &Boxes {
        display: flex;
        padding-top: 10px;

        @mixin gradient($colors) {
          @for $i from 1 through length($colors) {
            &:nth-child(#{$i}) {
              background-color: nth($colors, $i);
            }
          }
        }

        span {
          width: 23px;
          height: 18px;
          position: relative;

          &:first-child {
            color: $color-white;
          }

          &:last-child {
            color: $color-mid-blue;
          }

          &:first-child,
          &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
          }
        }

        &Blue span {
          $colors: #281170, #4051d9, #4085d9, #38b3e3, #54def2, #6df1db, #3fdec3;

          @include gradient($colors);
        }

        &Purple span {
          $colors: #291270, #4121a5, #5735c1, #6d4ad7, #8564e8, #9879f7, #b59ff6;

          @include gradient($colors);
        }

        &Aqua span {

          $colors: #0f6e66, #148e84, #21aca0, #38c0b4, #4ad8cb, #7cf6eb, #befdf7;

          @include gradient($colors);
        }

        &Green span {
          $colors: #559515, #5ea11a, #72bb2a, #8ad43d, #9fe754, #bdf835, #d9f890;

          @include gradient($colors);
        }

        &Orange span {
          $colors: #d16b10, #f38828, #f3a228, #f3c128, #f3dd28, #f7f78f, #f9f99b;

          @include gradient($colors);
        }

        &Red span {
          $colors: #6f0b0b, #971212, #b61c1c, #cd3838, #e85353, #f87070, #f89595;

          @include gradient($colors);
        }
      }
    }
  }
}

.legendModal {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  color: $color-black;
  z-index: $zforeground;

  &::before {
    content: '';
    display: block;
    background-color: rgba($backCircle, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: -6px;
    top: -1px;
    z-index: -1;
  }
}

.legendPopUp {
  background-color: $color-mid-blue;
  width: 100%;
  height: 100%;
  padding: 120px 0;
  overflow-y: scroll;
  margin-bottom: 50px;
  position: relative;

  .containInfo {
    margin-bottom: 60px;
    position: relative;

    &::after {
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 60%;
      background-color: rgba($color-white, 0.2);
      margin: 0 auto;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    h2,
    h3 {
      margin: 0 auto;
      color: $color-white;
      font-size: 22px;
      font-weight: 800;
      line-height: 2.73;
      letter-spacing: 11px;
      text-align: center;
      text-shadow: 0 0 34px rgba($color-black, 0.3);
      text-transform: uppercase;
    }

    h3 {
      max-width: 955px;
      text-transform: none;
      margin: 50px auto;
    }

    p {
      max-width: 955px;
      margin: 0 auto;
      font-size: 16px;
      font-weight: 300;
      line-height: 2.63;
      letter-spacing: 0.8px;
      color: $color-white;
      text-align: center;
    }
  }
}
