@import '~styles/variables.scss';

.playhead {
  // background-color: red;
  // top: 25vh;
}

.button {
  background-color: transparent;
  border: 1px solid $color-turquoise;
  border-radius: 20px;
  padding: 0.5em 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
  z-index: $zforeground * 10000;
  position: relative;
  font-size: 0.9rem;

  &:focus {
    outline: 0;
  }

  color: $color-turquoise;
  text-decoration: none;
}
