@import '~styles/variables.scss';

.range,
.progress {
  left: 0;
}

.range {
  position: relative;
  // display: flex;
  // align-items: center;
  width: 100%;

  &.disabled {
    pointer-events: none;
  }
}

.progress {
  z-index: $zforeground;
  height: 100%;
  top: 0;
  letter-spacing: 0;
  pointer-events: none;
}

.handle {
  z-index: $zforeground + 1;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}
