@import '~styles/variables.scss';

:global .recharts-rectangle.recharts-tooltip-cursor {
  fill: transparent;
}

.container {
  margin-top: 6rem;
}

.customTooltip {
  display: flex;
  flex-direction: column;
  background-color: $color-navy-blue;
  transform: translate(-50%, 0);

  &LastBar {
    transform: translate(50%, 0);
  }

  .customTooltipContainer {
    position: relative;
    display: flex;
    border: 0;

    .customTooltipValue {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      min-width: 50px;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 1.1px;
      color: $color-white;
      padding: 0 11px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $color-navy-blue;
      transform: translate(-50%, 0);
    }
  }
}
