@import '~styles/variables.scss';

:global .recharts-rectangle.recharts-tooltip-cursor {
  fill: transparent;
}

.container {
  margin-top: 6rem;

  :global .recharts-layer .recharts-cartesian-axis-ticks {
    text.recharts-text.recharts-cartesian-axis-tick-value {
      fill: $color-white;
    }
  }

  :global .recharts-xAxis {
    text.recharts-text.recharts-cartesian-axis-tick-value {
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}

.customTooltip {
  display: flex;
  flex-direction: column;
  background-color: $color-navy-blue;
  transform: translate(-50%, 0);

  &LastBar {
    transform: translate(50%, 0);
  }

  .customTooltipContainer {
    position: relative;
    display: flex;
    border: 0;

    .customTooltipValue {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      min-width: 50px;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 1.1px;
      color: $color-white;
      padding: 0 11px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $color-navy-blue;
      transform: translate(-50%, 0);
    }
  }
}

.legendContainer {
  display: flex;

  .legend {
    display: flex;
    align-items: baseline;
    position: relative;
    flex-direction: row-reverse;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.7px;
    color: $color-white;

    &::after {
      content: '';
      height: 16px;
      width: 16px;
      background-color: $color-white;
      margin-right: 12px;
      flex-shrink: 0;
    }

    &Blue::after {
      background-color: #0664f6;
    }

    &Purple::after {
      background-color: $color-purple;
    }

    &Violet::after {
      background-color: #9632b2;
    }
  }
}
