@import "~styles/variables";

.panes,
.panesChild {
  list-style: none;
  padding: 0;
  margin: 0;
}

.panes:not(.panesChild) > li {
  margin-top: 3rem;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.9);
  color: $color-white;

  .popupContent {
    $pad: 10%;

    background-color: $color-dark-blue;
    position: relative;
    top: $pad;
    height: calc(100% - (2 * #{$pad}));
    bottom: $pad;
    left: $pad;
    width: calc(100% - (2 * #{$pad}));
  }
}
