@import '~styles/variables.scss';

$width: 30px;
$knob-size: 10px;

.container,
.toggle {
  width: $width;
  height: $width - 10px;
  border-radius: 2 * $width;
}

.container {
  position: relative;
  border: 1px solid $color-turquoise;

  &On {
    background-color: $color-turquoise;
  }

  .toggle {
    padding: 0;
    margin: 0;
    text-indent: -200vw;
    position: absolute;

    &On {
      &::after {
        right: 3.5px;
        background-color: $color-mid-blue;
      }
    }

    &Off {
      &::after {
        left: 2px;
        background-color: $color-turquoise;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 20%;
      display: block;
      width: $knob-size;
      height: $knob-size;
      border-radius: 100%;
    }
  }
}
