.container {
  width: 100%;
  height: 116px;
  background-image: url(/img/earthometer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: 6rem;
}
