@import '~styles/variables.scss';
$offset: 0.1em;
$lineColor: #2b4d68;

.wrap {
  width: 240px;
  padding-top: 25px;
  padding-bottom: 5px;

  &Hidden {
    display: none;
  }
}

.values,
.labels {
  display: flex;
  justify-content: space-between;
}

.values {
  width: calc(100% + 10px);
}

.labels {
  width: 100%;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  flex-direction: row;

  @media screen and (min-width: 1325px) {
    flex-direction: row;
  }
}

.container {
  position: fixed;
  top: 100px;
  z-index: $zforeground * 2;
  display: flex;
  width: calc(42vw - 5px);
  max-width: $max-width;
  min-height: $sidebar-header-height;
  min-width: $min-width;
  align-items: center;
  left: 0;
  background-color: $color-mid-blue;
  border-bottom: 1px solid $lineColor;
}

.title {
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 4px;
}

.labelx {
  font-size: 0.7rem;
}

.values {
  $size: 1.2rem;

  font-size: $size;
  line-height: $size;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $lineColor;

  li:last-child {
    transform: translate(-80%);
  }
}

.half {
  margin-left: -8px;
  color: $color-white;
  margin-top: 8px;
  font-size: 1.4rem;
}

.percentSaved {
  color: $color-turquoise;
  font-size: 2rem;
  margin: 0 25px;
  min-width: 41px;
}

.slider {
  width: 240px;
}

.labelToColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.linePercentage {
  display: flex;
  flex-direction: row;
  align-items: center;
}
