@import '~styles/variables.scss';
$offset: 0.1em;
$lineColor: #2b4d68;

.wrap {
  width: calc(100% - #{$site-padding});
}

.values,
.labels {
  display: flex;
  justify-content: space-between;
}

.values {
  width: calc(100% + 10px);
}

.labels {
  width: 100%;
  align-items: center;
  padding: 0 70px 0 50px;
}

.containerPercentage {
  position: fixed;
  top: 100px;
  z-index: 20;
  display: flex;
  width: calc(42vw - 5px);
  max-width: $max-width;
  align-items: center;
  left: 0;
  background-color: $color-mid-blue;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid $lineColor;
}

.title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500; // ?
  line-height: 2.33;
  letter-spacing: 0.9px;
  margin-bottom: 0;
}

.labelx {
  font-size: 0.7rem;
}

.values {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0.6em;
  // margin-left: - $offset;
  margin-left: -4px;
}

.percent {
  margin-left: 1.7em;
}

.percentSaved {
  color: $color-turquoise;
  margin-bottom: 0;
}
