@import '~styles/variables.scss';

$handle-size: 18px;
$handle-border-width: 1px;
$handle-border: $handle-border-width solid;
$handle-color: $color-turquoise;
$handle-border-color: $color-turquoise;

$track-height: 3px;
$track-color: $color-turquoise;
$track-border: 1px solid;
$track-border-color: $color-turquoise;

$progress-color: $color-turquoise;

.range {
  background-image: url('/img/earthometer-background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  height: 18px;
}

.progress {
  height: $track-height;
  background-color: $progress-color;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.handle {
  width: $handle-size;
  height: $handle-size;
  background-image: url('/img/earthometer-handle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: 50% 50%;
  transform: translateX(-2px);
}
