@import '~styles/variables.scss';

.dropdown {
  display: inline-block;
}

.options {
  top: -0.5em;
  left: -0.5em;
  background-color: $color-dark-blue;
  border: none;
  display: block;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 10px;
  padding-top: 2em;
  position: absolute;
  z-index: $zforeground + 1000;
  // width: auto;
  width: 180px;
  line-height: 2em;

  &Closed {
    display: none;
  }
}

.option {
  font-size: 0.9em;
  margin: 0.7em 0;
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: white;
  }

  &Selected {
    display: none;
    text-decoration: none;
  }
}

.label {
  position: relative;
  z-index: $zforeground + 1010;
  border-bottom: 1px solid $color-turquoise;
  display: inline;
  margin: 0;
}
