@import '~styles/variables.scss';

$switch-height: 18px;
$switch-width: 30px;
$switch-transition-time: 0.3s;
$border-margin: 3px;

.label {
  color: $color-white;
  cursor: pointer;
}

.slider {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  transition: 0.2s;
  width: $switch-width;
  background-color: $color-light-gray;
}

.slider::before {
  content: "";
  position: absolute;
  left: $border-margin;
  bottom: $border-margin;
  height: $switch-height - $border-margin * 2;
  width: $switch-height - $border-margin * 2;
  transition: $switch-transition-time;
  background-color: $color-group-card-dark-blue;
}

input:checked ~ .slider {
  background-color: $color-turquoise;
}

input:checked ~ .slider::before {
  transform: translateX(12px);
}

input:checked ~ .label {
  color: $color-white;
}

.slider.round {
  border-radius: 20px;
}

.slider.round::before {
  border-radius: 50%;
}
