@import '~styles/variables.scss';

.container {
  height: 100%;
  width: 45vw;
  z-index: $zforeground;
  background-color: rgba($color-mid-blue, 0.96);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}
