@import '~styles/variables.scss';

.modalContainer {
  overflow: auto;
}

.contentContainer {
  font-family: 'PierSans', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.subTitle {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

// instructions styles

.instructionsContainer {
  display: flex;
}

.isntructionCombo {
  width: auto;
  max-width: 250px;
  padding-right: $site-padding;
}

.gestures {
  height: 75px;
  width: auto;
}

.mapAction {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.actionExplanation {
  font-size: 14px;
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $site-padding;
}

.button {
  width: 125px;
  height: 50px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $color-turquoise;
}

.mapTour {
  display: flex;
  align-content: center;
}

.tourText {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: $color-turquoise;
  font-weight: bold;
}

.chevronIcon {
  fill: $color-turquoise;
  position: relative;
  transform: rotate(180deg);
  bottom: 1px;
  margin-left: 15px;
}
