@import '~styles/variables.scss';

.container {
  height: 100vh;
  background-color: #081116;
  position: relative;
}

.sidebarContainer {
  height: 100%;
  overflow: auto;
  background-color: $color-white;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: $sidebar-width;
  padding: 0;
  z-index: 20;
  bottom: 0;
  cursor: default;
}

.toolbar {
  position: absolute;
  top: $site-gutter;
  right: $site-gutter;
}

.partnerFooter {
  position: absolute;
  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});
  bottom: 10px;
  padding-left: $site-gutter;
  height: $site-gutter;
  font-size: 13px;
}

.mapContainer {
  width: 100%;
  transition: all 0.3s linear;
  will-change: margin-left;
  transition-delay: 0.3s; // Waiting to do it when sidebar finishes
}

.mapPaddingLeft {
  width: calc(100% - #{$sidebar-width});
  margin-left: $sidebar-width;
}

