@import '~styles/variables.scss';

.container {
  height: 100vh;
  background-color: #081116;
}

.sidebarContainer {
  height: 100vh;
  overflow: auto;
  padding-right: 30px;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: $sidebar-width;
  padding-right: 0;
  z-index: 20;
}

.mapContainer {
  transition: all 0.3s linear;
  will-change: padding;
  transition-delay: 0.3s; // Waiting to do it when sidebar finishes
}

.mapPaddingLeft {
  padding-left: $sidebar-width;
}
