@import '~styles/variables.scss';

.partnerFooter {
  position: absolute;
  bottom: 0;
  height: 87px;
  background-color: rgba($color-dark-blue, 0.2);
  width: 100%;
  z-index: $zforeground + 1;
  display: flex;
  justify-content: space-between;
  padding: 0 $site-padding;

  .logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 25%;
    text-indent: -1000vw;
  }

  .logoWilson {
    width: 222px;
  }

  .logoMoll {
    width: 115px;
  }

  .logoVizz {
    width: 130px;
  }

  .linkPartner {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    background: url(/img/punticos.svg);
    background-repeat: no-repeat;
    background-position: 100px center;
  }

  .containImages {
    height: 100%;
    width: 465px;
    display: flex;
  }

  .linkPartner {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: $color-white;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 0;
  }
}

/////////////////////////

.footerModal {
  width: 100vw;
  height: 100vh;
  background-color: $color-dark-blue;
  overflow-y: scroll;
  padding-bottom: 80px;

  .contain {
    padding: $pad $site-padding;
    padding-top: 100px;
  }

  h1 {
    margin: 0 auto 80px;
    line-height: 4.09;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 11px;
    text-align: center;
    color: $color-white;
    text-shadow: 0 0 34px rgba(0, 0, 0, 0.3);
  }

  .containImages {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 100px;

    &:first-of-type {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  .imageContainer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 60px;

    &.vizzLogo {
      width: 19%;
    }

    .eoImageModal {
      max-width: 270px;
    }

    img {
      max-width: 150px;
      display: inline-block;
    }
  }
}
