@import '~styles/variables.scss';

.container {
  position: fixed;
  width: 100vw;
  height: 100vw;

  .header {
    // height: 5rem;
    height: $header-height;

    &Hidden {
      display: none;
    }
  }

  .body {
    display: flex;
    position: relative;
  }

  .col {
    height: calc(100vh - #{$header-height});
  }

  .map {
    width: 100%;
  }
}

// .grid {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1000;
//   margin: 0 $site-padding;
// }
//
// .col {
//   width: $grid-col;
//   margin-right: $site-gutter;
//   background-color: rgba(255, 0, 255, 0.15);
//   height: 100vh;
//   display: inline-block;
//   position: relative;
// }
