@import '~styles/variables.scss';

.container {
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: $zforeground;
  height: 100%;
  overflow: auto;
  padding-bottom: 246px;
}

.title {
  color: $color-white;
  font-size: 60px;
  text-transform: uppercase;
  max-width: 500px;
  line-height: 1.57;
  letter-spacing: 30px;
  text-shadow: 0 0 34px rgba($color-black, 0.3);
  margin: 100px auto 40px;
  text-align: center;
}

.intro {
  color: white;
  font-size: 2.4rem;
  line-height: 1.83;
  letter-spacing: 0.6px;
  font-weight: 300;
  max-width: 755px;
  text-align: center;
  margin: 0 auto 30px;
}

.separatorBlock {
  width: 100%;
}

.separatorContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .separator {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.38;
    letter-spacing: 10px;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0 0 20px;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 150px;
      top: 50%;
    }

    &::before {
      left: -190px;
      background: linear-gradient(to right, rgba($color-turquoise, 0), rgba($color-white, 0.5));
    }

    &::after {
      right: -180px;
      background: linear-gradient(to left, rgba($color-turquoise, 0), rgba($color-white, 0.5));
    }
  }
}

.videoContainer {
  position: relative;
  width: 70vw;
  height: 497px;
  margin: 0 auto;

  .video {
    height: 100%;
    width: 100%;
  }

  // play circle
  .playButton {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(rgba($color-black, 0.2), rgba($color-black, 0.2));
    background-blend-mode: multiply;
    width: 74px;
    height: 74px;
    border: solid 2px $color-white;
    border-radius: 100%;
    cursor: pointer;
    transition: 400ms background-image ease;
    z-index: $zforeground;

    // play arrow
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -50%);
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent $color-white;
      border-style: solid;
      border-width: 8px 0 8px 12px;
    }

    &:hover {
      background-image: linear-gradient(rgba($color-black, 0.4), rgba($color-black, 0.4));
    }
  }
}

.body {
  margin: 32px 0;
}

.paragraph {
  max-width: 755px;
  margin: 18px auto;
  line-height: 2;
  letter-spacing: 0.8px;
  font-weight: 300;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.bottomTitle {
  max-width: 755px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: 7px;
  text-align: center;
  color: $color-white;
  text-shadow: 0 1px 4px rgba($color-black, 0.2);
  text-transform: uppercase;
  margin: 32px 0;
}

.navFooterContainer {
  padding-bottom: 10rem;

  .navFooterCaption {
    opacity: 0.9;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: $color-white;
    text-align: center;
  }
}
