@import "~styles/variables";
@import "~styles/ui";

$icon-size: 15px;

.container {
  z-index: 0;

  &Disabled {
    @extend %disabled;
  }

  position: absolute;
  width: 120px;
  // right: -70px;
  right: -98px;
  top: 7.7px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tooltip {
    display: none;
    z-index: 5;
    width: 100%;
    position: absolute;
    border: 1px solid $color-turquoise;
    background-color: $color-mid-blue;
    top: -3em;
    left: calc(-50% + #{$icon-size / 2});
    padding: 0 10px;

    &::after {
      $size: 8px;

      content: '';
      display: block;
      position: absolute;
      background-color: $color-mid-blue;
      width: $size;
      height: $size;
      bottom: - (($size / 2) + 1);
      left: calc(50% - #{$size / 2});
      z-index: 10;
      border-left: 1px solid $color-turquoise;
      border-bottom: 1px solid $color-turquoise;
      transform: rotate(-45deg);
    }
  }

  &:hover .tooltip {
    display: block;
  }

  .opacities {
    position: relative;
    list-style: none;
    height: $icon-size;
    width: $icon-size;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .opacity {
      display: inline;
      background-image: url(/img/opacity.svg);
      background-size: contain;
      background-repeat: no-repeat;

      &25 {
        opacity: 0.25;
      }

      &50 {
        opacity: 0.5;
      }

      &75 {
        opacity: 0.75;
      }

      &100 {
        opacity: 1;
      }
    }

    .icon {
      color: white;
      text-indent: -200vw;

      &Hidden {
        display: none;
      }
    }
  }
}
