.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  list-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.itemActive {
  .label {
    color: green;
  }
}

.link {
  text-decoration: none;
}

.label {
  color: red;
}
