@import '~styles/variables.scss';
@import './variables.scss';

$pad: 6rem;

.sidebar {
  background-color: $color-mid-blue;
  position: relative;
  display: block;
  width: calc(70vw + 30px);
  max-width: 600px;
  transition: width 0.25s ease-in-out;

  .content {
    position: absolute;
    top: 0;
    height: 100%;
    color: white;
    padding: $pad $site-padding;
    overflow-y: auto;
    font-size: 1.6rem;
    line-height: 2em;

    &::after {
      pointer-events: none;
      content: '';
      height: 10rem;
      position: fixed;
      bottom: 0;
      left: 0;
      width: $column-width;
      max-width: $max-width;
      z-index: 1000;
      background-image:
        linear-gradient(
          rgba($color-mid-blue, 0),
          rgba($color-mid-blue, 0.5),
          rgba($color-mid-blue, 0.7),
          $color-mid-blue
        );
    }
  }

  &Hidden {
    width: 0;
    opacity: 0;

    .content::after {
      width: 0;
    }
  }

  &Closed {
    width: calc(#{$arrow-padding * 2} + #{$arrow-width});
  }
}

