@import '~styles/variables.scss';
@import './variables.scss';

$pad: 6rem;

.sidebar {
  background-color: $color-mid-blue;
  position: relative;
  display: block;
  width: calc(70vw + 30px);
  max-width: 600px;
  transition: width 0.25s ease-in-out;

  .content {
    position: absolute;
    top: 0;
    height: 100%;
    color: white;
    padding: calc(8rem + 80px) $site-padding $pad;
    overflow-y: auto;
    font-size: 1.6rem;
    line-height: 2em;

    &::after {
      pointer-events: none;
      content: '';
      position: fixed;
      top: $header-height;
      height: calc(100% - #{$header-height});
      max-width: $max-width;
      left: 0;
      width: $column-width;
      z-index: $zforeground;
      background-image:
        linear-gradient(
          $color-mid-blue,
          rgba($color-mid-blue, 0) 20%,
          rgba($color-mid-blue, 0) 80%,
          $color-mid-blue
        );
    }
  }

  &Hidden {
    width: 0;
    opacity: 0;

    .content::after {
      width: 0;
    }
  }

  &Closed {
    width: calc(#{$arrow-padding * 2} + #{$arrow-width});
  }
}
