@import '~styles/variables.scss';
@import './variables.scss';

$pad: 6rem;

.sidebar {
  background-color: $color-mid-blue;
  position: relative;
  display: block;
  width: calc(70vw + 30px);
  max-width: $max-width;
  min-width: $min-width;
  transition: width 0.25s ease-in-out;

  .content {
    position: absolute;
    top: 0;
    height: 100%;
    color: white;
    // padding: calc(8rem + 80px) $site-padding $pad;
    padding: 5rem $site-padding $pad;
    overflow-y: auto;
    font-size: 1.6rem;
    line-height: 2em;
    width: 100%;
    min-width: 430px;
    opacity: 0;

    &Locked {
      overflow: hidden;
    }

    &Open {
      opacity: 1;
    }

    &::after {
      pointer-events: none;
      content: '';
      position: fixed;
      top: $header-height;
      height: calc(100% - #{$header-height});
      max-width: $max-width;
      left: 0;
      width: $column-width;
      z-index: $zforeground;
      // background-image:
      //   linear-gradient(
      //     $color-mid-blue,
      //     rgba($color-mid-blue, 0) 30%,
      //     rgba($color-mid-blue, 0) 80%,
      //     $color-mid-blue
      //   );
    }
  }

  &Hidden {
    width: 0;
    min-width: 0;
    opacity: 0;

    .content::after {
      width: 0;
    }
  }

  &Closed {
    min-width: 0;
    width: calc(#{$arrow-padding * 2} + #{$arrow-width});
  }
}
