@import '~styles/variables.scss';

.container {
  padding: $site-gutter;
  line-height: 1.8;
}

.dropdownContainer {
  margin: 0 6px;
}

.highlight {
  font-weight: bold;
}

.histogramContainer {
  position: relative;
}

.button {
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 0;
}
