@import '~styles/variables.scss';

.dropdown {
  display: block;
  position: relative;
}

.options {
  border: 1px solid grey;
  display: block;
  font-weight: normal;
  list-style: none;
  position: absolute;
  width: 100%;
  z-index: $zforeground;

  &Closed {
    display: none;
  }
}

.option,
.label {
  cursor: pointer;
}

.optionSelected {
  text-decoration: underline;
}
