@import '~styles/variables.scss';

.earthometer {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  margin-bottom: 5rem;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.label {
  max-width: 40%;
  display: inline-block;
}

.protected {
  color: $color-turquoise;
  text-align: end;
}

.tabs {
  list-style: none;
}

.tab {
  button {
    color: $color-white;
    text-transform: uppercase;
    opacity: 0.5;
  }

  &Selected button {
    opacity: 1;
  }
}
