@import '~styles/variables';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $zforeground;
  text-align: center;

  > video {
    width: 100vw;
  }
}

.caption {
  position: absolute;
  top: calc(80vh - #{$header-height});
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
  color: $color-white;
  z-index: $zforeground * 10000;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.9px;
  background: linear-gradient(to bottom, transparent, rgba($color-dark-blue, 0.3) 100%);
}
