@import '~styles/variables';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $zforeground;
  text-align: center;

  > video {
    width: 100vw;
    height: calc(100vh - #{$header-height});
  }
}
