@import "~styles/variables.scss";

.imageContent {
  display: flex;
  background-color: $color-mid-blue;
  height: 100%;
  padding: 165px 165px 0;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
  margin: 0;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba($color-mid-blue, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.watermark {
  height: 44px;
  width: 150px;
  z-index: $zforeground * 100;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: $pop-up-button-top;
  left: $pop-up-button-right;
}

.description {
  color: $color-white;
  min-height: 50%;
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 0.9px;
  line-height: 2.33;
  font-weight: 500;
  text-align: center;
  z-index: $zforeground * 100;
}

.attribution {
  position: absolute;
  right: $pop-up-button-right;
  bottom: $pop-up-button-top;
  z-index: $zforeground * 100;
  color: rgba($color-white, 0.8);
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2em;
  font-weight: 600;
}
