@import "~styles/variables.scss";

.imageContent {
  display: flex;
  background-color: $color-mid-blue;
  height: 100%;
  padding: 165px 165px 0;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba($color-mid-blue, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.description {
  color: $color-white;
  min-height: 50%;
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 0.9px;
  line-height: 2.33;
  font-weight: 500;
  text-align: center;
  z-index: $zforeground;
}
