@import '~styles/variables.scss';

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  width: 32px;
  border-radius: 4px;
}

.button {
  padding: 0;
  height: 32px;

  &:hover {
    background-color: $color-turquoise;
  }
}

.switch {
  margin: $site-gutter / 2 0;
}

:global {
  .toolbar-tooltip {
    background-color: $color-white;
    padding: $site-gutter / 2 $site-gutter;
    opacity: 1;

    .rc-tooltip-arrow {
      border-left-color: $color-white;
      border-width: 12px 0 12px 12px;
      margin-top: -12px;
      right: -12px;
    }
  }
}
