@import '~styles/variables.scss';

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  width: 32px;
  border-radius: 4px;
  overflow: hidden;
}

.button {
  padding: 0;
  height: 32px;

  &:hover {
    background-color: $color-turquoise;
  }
}

.info-tooltip {
  padding: 3px;
  background-color: $color-white;
  color: $color-group-card-dark-blue;
}

.switch {
  margin: $site-gutter 0;
}

.tooltipContainer {
  padding: 10px 20px 0;
}

.tooltipTitle {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: 1.3px;
  color: $color-group-card-dark-blue;
  text-transform: uppercase;
}

.infoTooltipContainer {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

:global {
  .toolbar-tooltip {
    background-color: $color-white;
    padding: $site-gutter / 2 $site-gutter;
    opacity: 1;

    .rc-tooltip-arrow {
      border-left-color: $color-white;
      border-width: 12px 0 12px 12px;
      margin-top: -12px;
      right: -12px;
    }
  }

  .toolbar-info-tooltip {
    padding: 5px 8px;
    font-size: 11px;
    font-weight: 300;
    border-radius: 4px;
    max-width: 200px;
    background-color: $color-white;
    color: $color-group-card-dark-blue;

    .rc-tooltip-arrow {
      border-left-color: $color-white;
    }

    .rc-tooltip-inner {
      display: flex;
      align-items: center;
    }
  }
}
