$stroke-width: 2px;

.container {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;

  .svg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - #{2 * $stroke-width});
  }

  .circle {
    stroke-width: $stroke-width;
    stroke: white;
  }
}
