<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./lib/Cesium/Widgets/widgets.css">
    <script src="./lib/Cesium/Cesium.js" charset="utf-8"></script>
    <style media="screen">.cesium-viewer-selectionIndicatorContainer, .cesium-viewer-infoBoxContainer, .cesium-widget-credits { display: none !important }</style>
  </head>
  <body>
    <div id="boot"></div>
  </body>
</html>
