<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./lib/Cesium/Widgets/widgets.css">
    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css">
    <script src="./lib/Cesium/Cesium.js" charset="utf-8"></script>
    <style media="screen">.cesium-viewer-selectionIndicatorContainer, .cesium-viewer-infoBoxContainer, .cesium-widget-credits { display: none !important }</style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= htmlWebpackPlugin.options.GOOGLE_ANALYTICS %>', 'auto');
    </script>
  </head>
  <body>
    <div id="boot"></div>
    <div id="pop-up-root"></div>
  </body>
</html>
