@import '~styles/variables.scss';
$width: 24px;
$margin: 1rem;

.container {
  width: $max-width;
  max-width: $max-width;
  position: relative;
  top: #{$margin};
  z-index: $zforeground + 10;
  cursor: pointer;
  transition: left 0.125s ease-in-out;

  &Closed {
    left: calc(#{$closed-container});
  }

  .arrow {
    position: absolute;
    right: $margin;
    width: $width;
    height: $width;
    background-image: url('/img/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(90deg);
  }

  &Closed {
    transition: left 0.125s ease-in-out;

    .arrow {
      transform: rotate(270deg);
    }
  }
}
