@import '~styles/variables.scss';

.container {
  position: fixed;
  width: 100vw;
  height: 100vw;

  &Hover {
    cursor: pointer;
  }

  .header {
    // height: 5rem;
    height: $header-height;

    &Hidden {
      display: none;
    }
  }

  .body {
    display: flex;
    position: relative;
  }

  .col {
    height: calc(100vh - #{$header-height});
  }

  .map {
    width: 100%;
  }
}
