@import '~styles/variables.scss';

.container {
  padding-top: 25px;
}

.subtitle {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: $color-group-card-dark-blue;
}

.datasetComboWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: $site-gutter;
}
