@font-face {
  font-family: 'PierSansItalic';
  src: url('/fonts/pier-italic-webfont.woff2') format('woff2'),
  url('/fonts/pier-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'PierSans';
  src: url('/fonts/pier-regular-webfont.woff2') format('woff2'),
  url('/fonts/pier-regular-webfont.woff') format('woff');
}
