body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  overflow: hidden; }

#global__root__b8p8r {
  width: 100vw;
  height: 100vh;
  z-index: 10; }
.zoom-styles__items__1lC9a {
  margin: 0;
  padding: 0;
  list-style: none; }

.zoom-styles__item__E_s-5 {
  list-style: none;
  background-repeat: no-repeat;
  background-size: cover; }

.zoom-styles__itemActive__QWYDb .zoom-styles__label__25TSg {
  color: green; }

.zoom-styles__link__2n6DX {
  text-decoration: none; }

.zoom-styles__label__25TSg {
  color: red; }
.slider-theme__range__p_4_7 {
  background: lightgray;
  height: 3px;
  border-radius: 2px;
  border: 1px solid gray; }
  .slider-theme__range__p_4_7.slider-theme__disabled__88szM {
    opacity: 0.5; }

.slider-theme__progress__3SGNR {
  height: 3px;
  background-color: lightSteelBlue; }

.slider-theme__handle__2y_Kh {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: lightgray;
  transform: translateY(-8.5px); }
.slider-styles__range__3hJMK,
.slider-styles__progress__3cguv {
  left: 0; }

.slider-styles__range__3hJMK {
  position: relative;
  width: 100%; }
  .slider-styles__range__3hJMK.slider-styles__disabled__1qGaZ {
    pointer-events: none; }

.slider-styles__progress__3cguv {
  z-index: 1;
  height: 100%;
  top: 0;
  letter-spacing: 0;
  pointer-events: none; }

.slider-styles__handle__A2X8T {
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  position: absolute; }
.slider-styles__wrap__3E4jG {
  width: calc(100% - 9vw); }

.slider-styles__values__xGkIQ,
.slider-styles__labels__3TihX {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.slider-styles__labels__3TihX,
.slider-styles__values__xGkIQ {
  width: calc(100% + 10px); }

.slider-styles__title__1L_XT {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 4px;
  font-weight: 500; }

.slider-styles__labelx__27gXP {
  font-size: 0.7rem; }

.slider-styles__values__xGkIQ {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0.6em;
  margin-left: -4px; }

.slider-styles__percent__1i89S {
  margin-left: 1.7em; }

.slider-styles__percentSaved__1mYJ1 {
  color: #1bcec7; }
.slider-theme__range__2_TgC {
  background-image: url("/img/dash.svg");
  background-repeat: repeat no-repeat;
  background-position: 4px center;
  border: none; }

.slider-theme__progress__wwpNK {
  height: 3px;
  background-color: #1bcec7; }

.slider-theme__handle__3VUE_ {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #1bcec7;
  background-color: #1bcec7;
  transform: translateY(-7px); }
.earthometer-styles__container__2JTz4 {
  color: #fff;
  background-color: #061420;
  position: relative;
  z-index: 11;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 10rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  -ms-flex-align: center;
      align-items: center;
  padding: 0 9vw; }

.earthometer-styles__col__mH8cA,
.earthometer-styles__colMiddle__33dlB {
  padding: 10px;
  text-align: center; }

.earthometer-styles__col__mH8cA {
  width: 45vw; }

.earthometer-styles__colMiddle__33dlB {
  width: 10%; }
.map-styles__map__19DBr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
.toggle-styles__toggle__oJaaB {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.toggle-styles__toggle__oJaaB {
  border-width: 1px;
  border-style: solid;
  display: inline-block; }

.toggle-styles__active__lJjan {
  text-decoration: line-through; }
.local-styles__title__opNYW {
  max-width: 75%; }
.pages__background__2VY6_ {
  background-color: rgba(9, 30, 49, .96); }

.pages__container__o1KUs,
.pages__background__2VY6_ {
  margin-top: 10rem;
  padding: 8rem 9vw;
  height: calc(100vh - 26rem);
  width: 32vw;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0; }

.pages__container__o1KUs {
  color: white;
  overflow-y: auto;
  font-family: 'PierSans';
  font-size: 1rem;
  line-height: 2em; }
  .pages__container__o1KUs::after {
    pointer-events: none;
    content: '';
    height: 320px;
    height: 20rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    z-index: 1000;
    background-image: linear-gradient(rgba(9, 30, 49, 0), rgba(9, 30, 49, .5), rgba(9, 30, 49, .7), #091e31); }

.pages__title__qYnXG {
  text-transform: uppercase;
  letter-spacing: 0.82em;
  line-height: 2em; }

.pages__content__gP4Zn {
  font-size: 1rem;
  line-height: 2.7em;
  z-index: 100; }
.home-styles__container__fRe6Z {
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.home-styles__title__32Asa {
  margin-top: 15rem;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 5em; }

.home-styles__em__2BAZp {
  text-transform: uppercase;
  color: #1bcec7; }
.zoom-theme__zoom__2R0__ {
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: relative; }

.zoom-theme__home__20F9_ {
  color: white; }
  .zoom-theme__home__20F9_.zoom-theme__items__3tDy4 {
    width: 72vw; }
  .zoom-theme__home__20F9_ .zoom-theme__item__3sokC {
    width: 24vw;
    height: 420px;
    border-radius: 3%;
    margin-right: 20px;
    max-width: 340px; }
  .zoom-theme__home__20F9_ .zoom-theme__link__2Halj {
    letter-spacing: 0.75em;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .zoom-theme__home__20F9_ .zoom-theme__label__3lqnj {
    display: inline-block;
    bottom: 3em;
    color: white;
    position: absolute;
    font-size: 1.8em;
    text-transform: uppercase; }
  .zoom-theme__home__20F9_ .zoom-theme__item-local__JuHCC {
    background-image: url(/img/local.png); }
  .zoom-theme__home__20F9_ .zoom-theme__item-global__1xVBA {
    background-image: url(/img/global.png); }
  .zoom-theme__home__20F9_ .zoom-theme__item-regional__3s3lT {
    background-image: url(/img/regional.png); }
.spider-chart-styles__container__jG9YT {
  position: relative;
  width: 720px;
  height: 530px; }

.spider-chart-styles__spider__svJeN {
  width: 41vw;
  height: 100%;
  position: absolute;
  left: -4vw;
  background-image: url("/img/spider.png");
  background-repeat: no-repeat;
  background-size: contain; }
.toggle__toggle__2WYHQ {
  border-color: #1bcec7;
  line-height: 1.5em;
  padding: 0 2px; }

.toggle__active__31fjW {
  text-decoration: none;
  background-color: #1bcec7;
  color: #061420; }
.sidebar-styles__sidebar__3uLSQ {
  position: absolute;
  right: 4.5vw;
  top: 20vh;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: right;
  padding-right: 20px; }
  .sidebar-styles__sidebar__3uLSQ .sidebar-styles__item__3n9PR {
    height: 33vh;
    position: relative;
    padding-right: 20px;
    margin-top: 12px;
    border-right: 1px solid transparent; }
    .sidebar-styles__sidebar__3uLSQ .sidebar-styles__item__3n9PR.sidebar-styles__itemActive__2dMJJ::after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: white;
      position: absolute;
      right: -3px;
      top: -0.9em;
      border-radius: 100%; }
  .sidebar-styles__sidebar__3uLSQ .sidebar-styles__item__3n9PR:not(:last-child) {
    border-color: white; }
  .sidebar-styles__sidebar__3uLSQ .sidebar-styles__link__3NUm- {
    position: relative; }
    .sidebar-styles__sidebar__3uLSQ .sidebar-styles__link__3NUm-::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border: 2px solid #1bcec7;
      position: absolute;
      right: -28px;
      top: -14px;
      border-radius: 100%; }
  .sidebar-styles__sidebar__3uLSQ .sidebar-styles__label__1kC_w {
    position: absolute;
    right: 0;
    top: -1em;
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase; }
.layout-styles__content__1bIoh {
  font-family: PierSans; }
