@import '~styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.back {
  position: relative;
  color: $color-white;
  font-family: 'PierSans';
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  text-align: left;
  text-transform: uppercase;
  padding-right: 15px;
  margin-right: 15px;
  z-index: $zforeground;

  &:hover {
    cursor: pointer;
    color: rgba($color-turquoise, 0.2);
  }

  &:active {
    outline: 0;
  }

  &::after {
    position: absolute;
    content: '';
    height: 9px;
    border-left: 1px solid $color-white;
    background-color: $color-white;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.forth {
  position: relative;
  border: 2px solid $color-white;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background-color: transparent;
  z-index: $zforeground;

  &:active {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($color-turquoise, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid $color-white;
    border-bottom: 2px solid $color-white;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
  }
}
