@import '~styles/variables.scss';
$site-gutter: 20px;
$site-padding: 50px;
$pad: 6rem;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  margin-bottom: 50px;
  margin-right: 77px;
}

.back {
  position: relative;
  color: $color-white;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  text-align: left;
  text-transform: uppercase;
  padding-right: 15px;
  margin-right: 15px;
  z-index: $zforeground;

  &:hover {
    cursor: pointer;
    color: rgba($color-turquoise, 0.2);
  }

  &:active {
    outline: 0;
  }

  &::after {
    position: absolute;
    content: '';
    height: 9px;
    border-left: 1px solid $color-white;
    background-color: $color-white;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.forth {
  position: relative;
  border: 2px solid $color-white;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background-color: transparent;
  z-index: $zforeground;

  &:active {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($color-turquoise, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid $color-white;
    border-bottom: 2px solid $color-white;
    transform: translate(-50%, calc(-50% - 1px)) rotate(45deg);
    left: 50%;
  }
}

.partnerFooter {
  height: 70px;
  background-color: $color-dark-blue;
  width: 100%;
  z-index: $zforeground + 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 $site-padding;

  @media screen and (min-width: 1180px) {
    justify-content: space-between;
  }

  .containImages {
    display: none;
    align-items: center;

    @media screen and (min-width: 1180px) {
      display: flex;
      justify-content: flex-end;
    }

    a {
      display: flex;
      align-items: center;
    }

    img {
      max-width: 90px;
      max-height: 34px;
      display: inline-block;

      &:first-of-type {
        margin-right: 20px;
      }
    }
  }

  .linkPartner {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: $color-white;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 0;
  }
}

.footerModal {
  width: 100vw;
  height: 100vh;
  background-color: $color-dark-blue;
  overflow-y: scroll;
  padding-bottom: 80px;

  .contain {
    padding: $pad $site-padding;
  }

  h1 {
    margin: 0 auto 80px;
    line-height: 4.09;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 11px;
    text-align: center;
    color: $color-white;
    text-shadow: 0 0 34px rgba(0, 0, 0, 0.3);
  }

  .containImages {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 100px;

    &:first-of-type {
      padding-top: 100px;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      border-bottom: 1px solid rgba($color-white, 0.5);

      @media screen and (min-width: 1180px) {
        display: none;
      }
    }
  }

  .imageContainer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 60px;

    img {
      max-width: 150px;
      display: inline-block;
    }
  }
}
