@import '~styles/variables.scss';

.barchart {
  width: 100%;
  height: 500px;

  :global .tick-line {
    display: none;
  }

  :global .axis-baseline {
    display: none;
  }
}

.tickLabel {
  fill: $color-white;
}

.mark {
  transform: translateX(15px);
  fill: $color-purple;
  width: 11px;
  padding: 0 30px;
}

.markBackground {
  transform: translateX(15px);
  fill: #ccc;
  width: 11px;
}

